[Desktop Entry]
Encoding=UTF-8
Name=Tidal
GenericName=Music Player
GenericName[fr]=Lecteur de musique
Comment=Listen Musique
Comment[fr]=Ecouter de la musique
Exec=<HOME>/.local/share/TIDAL-linux-x64/TIDAL %u
StartupNotify=false
Terminal=false
Icon=<HOME>/.local/share/TIDAL-linux-x64/resources/app/icon.png
Type=Application
Categories=Utility;Application;
